/* Navigation Styles */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff; /* Change color on hover */
}

/* Table Styles */
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}
tr {
  text-align: center;
}
/* Form Styles */
input[type="text"],
input[type="number"],
input[type="submit"] {
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Added styles for lisaa-tuote form */
.lisaa-tuote {
  display: flex;
  flex-direction: column;
  max-width: 20%; /* Adjust as needed */
}

.lisaa-tuote label {
  font-weight: bold;
}

/* Remove margin and padding from form elements */
.lisaa-tuote input,
.lisaa-tuote textarea,
.lisaa-tuote select {
  margin: 0;
  padding: 8px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Maximum 3 items per row */
  gap: 20px;
  padding: 10px; /* Add padding for spacing */
  max-width: 1000px; /* Maximum width for three items */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Style for each grid item */
.grid-item {
  border: 1px solid #ccc; /* Add border to each grid item */
  padding: 10px; /* Add padding for spacing */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Distribute items with space between */
  height: auto; /* Allow grid items to adjust height based on content */
}
/* Style for product images */
.product-image {
  display: block; /* Set display property to block */
  max-width: 100%; /* Limit image width to 100% of container */
  max-height: 250px; /* Limit image height */
  height: auto;
  margin: 0 auto; /* Center align horizontally */
  border-bottom: 1px solid #ccc; /* Add border line to the top */
  padding-bottom: 10px;
}
.price-container {
  background-color: #ff9800; /* Dark red background color */
  border-radius: 5px; /* Add rounded corners */
  display: inline-block; /* Make the container fit its content */
  width: 100px; /* Set width */
  height: 50px; /* Set height */
  text-align: center;
}
