<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Etusivu</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div>
      <h1>Tervetuloa Kahvikauppaan</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>

          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
          <li><a href="/tuotteet">admin</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <p>
        Kahvikauppa tarjoaa laadukkaita kahvilaitteita ja kulutustuotteita sekä
        koti- että ammattikäyttöön. Laajasta valikoimasta löydät monipuoliset
        tarvikkeet ja lisävarusteet, jotka täydentävät kahvihetkesi
        täydellisesti.
      </p>
    </div>
  </body>
</html>
