<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Kulutustuotteet</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <script
      src="https://kit.fontawesome.com/dc76f903b0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <h1>Kulutustuotteet</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
          <li><a href="/tuotteet">admin</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid-container">
      <!-- Iterate over the list of coffee equipment products -->
      <div th:each="tuote : ${kulutustuotteet}" class="grid-item">
        <div>
          <!-- Display product image -->
          <img
            class="product-image"
            th:src="@{'/productImage/' + ${tuote.id}}"
            alt="Product Image"
          />
        </div>

        <div class="product-details">
          <!-- Display product name -->
          <h3 th:text="${tuote.nimi}"></h3>
          <!-- Display product price -->
          <div class="price-container">
            <p>
              <span
                style="font-weight: bold; font-size: large; color: white"
                th:text="${tuote.hinta}"
              ></span>
              <i
                class="fa-solid fa-euro-sign euro-icon"
                style="color: white"
              ></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
