<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Osastot</title>
    <style>
      nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      nav ul li {
        display: inline;
        margin-right: 10px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      th {
        background-color: #f2f2f2;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Lisää uusi osasto</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/osastot">Osastot</a></li>
          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <form action="/lisaa-osasto" method="post">
        <label for="nimi">Osaston nimi:</label><br />
        <input type="text" id="nimi" name="nimi" /><br />
        <label for="osastoIDP">Osastoidp:</label><br />
        <input type="number" id="osastoIDP" name="osastoIDP" /><br /><br />
        <input type="submit" value="Lisää osasto" />
      </form>
    </div>
    <div>
      <h1>Lisätyt osastot</h1>
      <div>
        <table>
          <tr>
            <th>ID</th>
            <th>Nimi</th>
            <th>Osastoidp</th>
          </tr>
          <tr th:each="osasto : ${osastot}">
            <td th:text="${osasto.id}"></td>
            <td th:text="${osasto.nimi}"></td>
            <td th:text="${osasto.osastoIDP}"></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
