<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Osastot</title>
    <style>
      nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      nav ul li {
        display: inline;
        margin-right: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Lisää uusi osasto</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/osastot">Osastot</a></li>
          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <form action="/lisaa-osasto" method="post">
        <label for="nimi">Osaston nimi:</label><br />
        <input type="text" id="nimi" name="nimi" /><br />
        <label for="osastoIDP">Osastoidp:</label><br />
        <input type="number" id="osastoIDP" name="osastoIDP" /><br /><br />
        <input type="submit" value="Lisää osasto" />
      </form>
    </div>
  </body>
</html>
