<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tuotteet</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <div>
      <h1>Tuotteet</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/osastot">Osastot</a></li>
          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
        </ul>
      </nav>
    </div>
    <h2>Lisää uusi tuote</h2>
    <form
      action="/lisaa-tuote"
      method="post"
      class="lisaa-tuote"
      enctype="multipart/form-data"
    >
      <label for="nimi">Nimi:</label><br />
      <input type="text" id="nimi" name="nimi" required /><br />

      <label for="kuvaus">Kuvaus:</label><br />
      <textarea id="kuvaus" name="kuvaus" required></textarea><br />

      <label for="hinta">Hinta:</label><br />
      <input type="text" id="hinta" name="hinta" required /><br />

      <label for="kuva">Kuva:</label><br />
      <input
        type="file"
        id="kuva"
        name="kuva"
        accept="image/*"
        required
      /><br />

      <!-- Supplier dropdown menu -->
      <label for="toimittaja">Toimittaja:</label><br />
      <select id="toimittaja" name="toimittaja" required>
        <option
          th:each="toimittaja : ${toimittajat}"
          th:value="${toimittaja.id}"
        >
          <span th:text="${toimittaja.nimi}"></span>
        </option></select
      ><br />

      <label for="valmistaja">Valmistaja:</label><br />
      <select id="valmistaja" name="valmistaja" required>
        <option
          th:each="valmistaja : ${valmistajat}"
          th:value="${valmistaja.id}"
        >
          <span th:text="${valmistaja.nimi}"></span>
        </option></select
      ><br />

      <label for="osasto">Osasto:</label><br />
      <select id="osasto" name="osasto" required>
        <option th:each="osasto : ${osastot}" th:value="${osasto.id}">
          Osasto <span th:text="${osasto.id}"></span>:
          <span th:text="${osasto.nimi}"></span>
        </option></select
      ><br />

      <input type="submit" value="Lisää tuote" />
    </form>
    <div>
      <h2>Tuotteet</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Nimi</th>
          <th>Kuvaus</th>
          <th>Hinta</th>
          <th>Toimittaja</th>
          <th>Valmistaja</th>
          <th>Osasto</th>
          <th>Toiminnot</th>
        </tr>

        <!-- Iterate over the list of products and display them in table rows -->
        <tr th:each="tuote : ${tuotteet}">
          <td th:text="${tuote.id}"></td>
          <td th:text="${tuote.nimi}"></td>
          <td th:text="${tuote.kuvaus}"></td>
          <td th:text="${tuote.hinta}"></td>
          <td th:text="${tuote.toimittaja.nimi}"></td>
          <td th:text="${tuote.valmistaja.nimi}"></td>
          <td th:text="${tuote.osasto.nimi}"></td>
          <td>
            <!-- Delete button with confirmation -->
            <form
              th:action="@{/poista-tuote/{id}(id=${tuote.id})}"
              method="post"
              onsubmit="return confirmDelete()"
            >
              <input type="hidden" name="tuoteId" th:value="${tuote.id}" />
              <input type="submit" value="Poista" />
            </form>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
