<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Tuotteet</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <div>
      <h1>Tuotteet</h1>
      <nav>
        <ul>
          <li><a href="/">Etusivu</a></li>
          <li><a href="/osastot">Osastot</a></li>
          <li><a href="/kahvilaitteet">Kahvilaitteet</a></li>
          <li><a href="/kulutustuotteet">Kulutustuotteet</a></li>
        </ul>
      </nav>
    </div>
    <div>
      <h2>Lisää uusi tuote</h2>
      <form action="/lisaa-tuote" method="post">
        <label for="nimi">Nimi:</label><br />
        <input type="text" id="nimi" name="nimi" /><br />

        <label for="kuvaus">Kuvaus:</label><br />
        <textarea id="kuvaus" name="kuvaus"></textarea><br />

        <label for="hinta">Hinta:</label><br />
        <input type="text" id="hinta" name="hinta" /><br />

        <!-- Supplier dropdown menu -->
        <label for="toimittaja">Toimittaja:</label><br />
        <select id="toimittaja" name="toimittaja">
          <option
            th:each="toimittaja : ${toimittajat}"
            th:value="${toimittaja.id}"
          >
            <span th:text="${toimittaja.nimi}"></span>
          </option></select
        ><br />

        <label for="valmistaja">Valmistaja:</label><br />
        <select id="valmistaja" name="valmistaja">
          <!-- Iterate over the list of manufacturers and populate the options dynamically -->
          <option
            th:each="valmistaja : ${valmistajat}"
            th:value="${valmistaja.id}"
          >
            <span th:text="${valmistaja.nimi}"></span>
          </option></select
        ><br />

        <label for="osasto">Osasto:</label><br />
        <select id="osasto" name="osasto">
          <option th:each="osasto : ${osastot}" th:value="${osasto.id}">
            Osasto <span th:text="${osasto.id}"></span>:
            <span th:text="${osasto.nimi}"></span>
          </option></select
        ><br />

        <input type="submit" value="Lisää tuote" />
      </form>
    </div>
  </body>
</html>
